NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://docker:docker@localhost:5432/sass_next_rbac?schema=public"
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=next-sass

SECRET_KEY="your_secret_key_here"

GITHUB_OAUTH_CLIENT_ID=""
GITHUB_OAUTH_CLIENT_SECRET=""
GITHUB_OAUTH_CLIENT_REDIRECT_URI="http://localhost:3000/api/auth/callback"
